:root {
    --font-family: 'Comfortaa', cursive;
    --font-family2: 'Miltonian', cursive;
    --firstcolor: #0288dc;
    --secondcolor: #FFC83D;
}

body {
    font-family: var(--font-family);
}

.navbar{
    font-size: 22px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar-brand:hover, .nav-link:hover{
    color: var(--firstcolor);
}

.navbar-brand:active,
.nav-link:active {
    color: var(--secondcolor);
}

.navbar-brand{
    font-size: 26px;
}

.nav-link{
    padding-bottom: 5px;
}

.container{
    background-color: #F8F9FA;
    max-width: 100%;
}

.contacts-container{
    min-height: 99vh;
}

.hi, .dev {
    font-size: 38px;
    font-weight: bold;
}

.name {
    font-size: 76px;
    font-weight: 900;
}

.about, .contact, .contactme {
    text-decoration: none;
    letter-spacing: 0.2rem;
    cursor: pointer;
    padding: 20px;
    border: 1px solid var(--firstcolor);
    border-radius: 15px;
    font-size: 20px;
    font-weight: 700;
    color: var(--secondcolor);
    margin: 5px;
    box-shadow: 3px 3px 3px 0;
    min-width: 150px;
}

svg{
    width: 40px;
    fill: var(--firstcolor);
    margin-right: 10px;
}

.heading {
    font-size: 44px;
    text-shadow: 1px 1px 6px rgb(163, 218, 255);
}

.app_card{
    background-color: rgb(230, 245, 255);
    border-radius: 15px;  
}

.app_card:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.app_card>img{
    filter: opacity(0.8);
    border-radius: 15px;
    box-shadow: 5px 5px 10px 0px rgb(163, 218, 255);
}

.cert, .myPhoto {
    border-radius: 15px;
    box-shadow: 0px 0px 15px 5px rgb(163, 218, 255);
}

.cert_card:hover{
    transform: scale(1.5);
    z-index: 1;
}

.app_name{
    font-size: 34px;
    font-weight: 700;
}

.intro{
    margin: 50px;
}

.contacts{
    font-size: 24px;
}

.contact-box{
    background-color: rgb(230, 245, 255);
}

.contact-box_heading{
    font-size: 44px;
}

.contact-box_text{
    font-size: 20px;
}

.social-links>p>.contacts{
    font-size: 18px;
}

.arrow_up{
    position: fixed;
    right: 40px;
    bottom: 40px;
}

@media screen and (min-width: 1280px) {
    .projects{
        width: 75%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .app_card {
        margin: 0 auto;
    }
    .navbar-brand{
        font-size: 18px;
    }
}

@media screen  and (max-width: 767px){
    .container {
        padding: 0 50px;
    }
    .navbar-brand, .navbar-toggler{
        margin: 0 auto;
    }
    
    .name{
        font-size: 44px;
    }
    .dev{
        font-size: 19px;
    }
    .about{
        width: 100%;
    }
    .intro{
        margin: 0;
    }
    .about, .contact{
        display: block;
        width: 50%;
        margin: 10px auto;
    }
    .contacts {
        font-size: 18px;
    }
}

@media (max-width: 480px){
    .projects{
        display: none;
    }
    .contacts_section>p{
        margin-top: 0;
    }
    .contacts_section>p>a{
        font-size: 16px;
    }
    .contacts{
        font-size: 16px;
    }
}
